services:
  mailhog:
    image: mailhog/mailhog:latest
    platform: linux/amd64
    restart: always
    logging:
      driver: 'none' # disable saving logs
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui
